
@{
    ViewBag.Title = "Index";
}

<h2>Registration Form</h2>
<hr />
@using RegistrationFormMvcEF.Models
@model RegistrationClass

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <span> Name :-</span>@Html.TextBoxFor(m => m.Name)
    <br />
    <br />
    <span> Address :-</span>@Html.TextBoxFor(m => m.Address)
    <br />
    <br />
    <span> Mobile Number :-</span>@Html.TextBoxFor(m => m.MobileNumber)
    <br />
    <br />
    <span> Emailid :-</span>@Html.TextBoxFor(m => m.Emailid)
    <br />
    <br />
    <span> Password :-</span>@Html.TextBoxFor(m => m.Password)
    <br />
    <br />
    <span> Conform Password :-</span>@Html.TextBoxFor(m => m.ConnformPassword)
    <br />
    <br />
    <span> Age :-</span>@Html.TextBoxFor(m => m.Age)
    <br />
    <br />
    <div class="col-md-10">
        <span> Gender :-</span>
        Male
        @Html.RadioButtonFor(model => model.Gender, "Male")
        Female
        @Html.RadioButtonFor(model => model.Gender, "Female")
    </div>
    <br />
    <br />
    <span> Date of Birth :-</span>@Html.TextBoxFor(m => m.DateofBirth)
    <br />
    <br />
    <span> Course :-</span>@Html.DropDownListFor(m => m.Course, new SelectList(Enum.GetValues(typeof(courses))), "--Select Course--")
    <br />
    <br />
    <span> Registration Date :-</span>@Html.TextBoxFor(m => m.RegistrationDate)
    <br />
    <br />



    <input id="Submit" type="submit" value="submit" />
}
<hr />
<hr />



